.citations {
  font-size: 80%;
  border-left: 3px solid #828e82;
  padding-left: 1em;

  input,
  label.citations__hide-content,
  .citations__display-wrapper {
    display: none;
  }

  label {
    font-size: 75%;
    font-family: "Cabin", sans-serif;
    font-weight: bold;
    color: #0065bd;
  }

  input.citations__display-toggle:checked ~ label.citations__show-content {
    display: none;
  }

  input.citations__display-toggle:checked ~ label.citations__hide-content {
    display: block;
  }

  input.citations__display-toggle:checked ~ .citations__display-wrapper {
    display: block;
  }

  .citation {
    margin: 1em 0 1.5em;

    .citation__title {
      font-style: italic;
      display: block;
    }

    .citation__summary {
      display: block;
      margin: 0.2ex 0 0 1em;
    }
  }
}
