.conclusion {
  width: 100%;
  background-color: #fff;

  h2 {
    width: 70%;
    margin: 1em auto 0;
    text-align: center;
    font-size: 150%;
    font-weight: 400;
    font-style: italic;
  }

  figure {
    background-color: #fff;
    padding: 0 0 2em;
    margin: 1em 0;
    text-align: center;

    img {
      height: 90vh;
    }

    figcaption {
      display: block;
      margin: 1em auto 2em;
      width: 40em;
    }
  }
}
