.header-footer {
  background: rgba(0, 0, 0, 0.75);
  margin: 0;
  width: 100vw;
  padding-top: 1vh;
  border-top: 1px solid #333;
  box-shadow: 0 3px 3px #333;
  position: sticky;
  top: 0;

  .header-footer__brand {
    display: none;
  }

  .header-footer__logos {
    position: relative;
    text-align: right;

    img {
      margin-right: 2vw;
      max-height: 8vh;

      &[alt="SNAP logo"] {
        height: 5.6vh;
        position: relative;
        bottom: 0.8vh;
      }
    }
  }
}
