// Any specific styles for the introduction?
.observations-figure {
  background-color: #fff;
  padding-top: 1em;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  position: relative;
  height: 16em;

  #observations-chart {
    width: 45vw;
    margin-left: 1em;
    font-size: 80%;
    position: absolute;
    left: 40vw;
    height: 15em;
  }

  figcaption {
    position: absolute;
    right: 60vw;
    margin-right: 1em;
    width: 20em;
    padding: 1em;
    font-size: 80%;
  }
}
