.logos {
  background: #fff;
  margin: 0;
  padding: 1em;
  text-align: center;
  border-top: 3px solid rgba(0, 0, 0, 0.7);
  border-bottom: 3px solid #888;

  img {
    max-height: 3em;
    margin: 1ex;
    max-width: 5em;
    vertical-align: middle;
  }
}
