// Styles applying to large narrative blocks, and some specific sections (towards bottom).

.narrative {
  // Center nicely
  width: 30em;

  @media (max-width: 1500px) {
    width: 40em;
  }

  h2 {
    padding: 0;
  }

  max-width: 60em;
  margin: 1em auto 2em;

  &.introduction {
    margin-top: 3em; // breathing room
  }

  p {
    font-size: 90%;

    // Drop cap
    &:first-of-type::first-letter {
      font-size: 300%;
      padding: 8pt 7pt 0 0;
      margin: 0;
      float: left;
      line-height: 0.66;
    }
  }

  figure {
    padding: 0;
    margin: 2em 0;
  }
}

.narrative.back-to-top {
  margin: 0 auto;
  padding: 1em 0;
}
