// Styles applying to large narrative blocks.

.narrative {
  // Center nicely
  @media (max-width: 1500px) {
    width: 40em;
  }

  max-width: 60em;
  margin: 3em auto;

  p {
    font-size: 14pt;
    line-height: 1.75;

    // Drop cap
    &:first-of-type::first-letter {
      font-size: 48pt;
      padding: 8pt 7pt 0 0;
      margin: 0;
      float: left;
      line-height: 0.9;
    }
  }

  figure {
    padding: 0;
    margin: 2em 0;
  }
}
