nav.menu {
  font-size: 75%;
  text-align: center;
  position: fixed;
  top: 0;
  left: calc(50% - 7.5em + 1ex);
  margin: 0 auto;
  width: 15em;
  background-color: rgba(255, 255, 255, 0.95);
  border: 1px solid #dedede;
  box-shadow: 0 0 8px rgba(0, 0, 0, 150);
  padding: 1ex;
  z-index: 9999;
  transition: all 1s;

  ol {
    display: none;
    list-style-type: none;
    margin: 1em 0 1ex;
    padding: 0;

    li {
      margin: 0;
      padding: 0;

      a:hover {
        text-decoration: underline;
      }
    }
  }

  &:hover ol {
    display: block;
  }
}
