.observations-map__scroll-container {
  border-top: 3px solid #888;
  border-bottom: 3px solid #888;
  position: relative;

  .scroll__graphic {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  .scroll__text {
    position: relative;
  }

  .step {
    width: 25vw;
    margin: 50vh 0 50vh 5vw;
    position: relative;
    bottom: 50vh;
    background: rgba(255, 255, 255, 0.8);
    padding: 1em;

    p {
      margin: 0;
      padding: 0;
    }

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  #observations-map__map {
    height: 100vh;
    width: 100vw;

    .map-layer-invisible {
      opacity: 0 !important;
      transition: opacity 1s ease;
    }

    .map-layer-visible {
      opacity: 1 !important;
      transition: opacity 1s ease;
    }
  }
}
