/*

This file contains common styles for formatting the page sections
with scrolling photos/observation text, and specific modifications
for specific regions (at bottom).

Some of these styles are fiddly; in particular, height and position properties.

*/
.observations__scroll-container {
  padding: 10vh 0;
  border-top: 1px solid #888;
  background-color: #fff;
  position: relative;
  height: 300vh; /* Will probably be overridden by specific scrollers which need a different height */

  .scroll__graphic {
    position: -webkit-sticky;
    position: sticky;
    top: 10vh;
    margin-left: 35vw;
    padding-bottom: 80vh;

    .observations__images {
      position: relative;

      img {
        position: absolute;
        top: 0;
        max-height: 80vh;
        max-width: 60vw;

        &:first-of-type {
          margin-top: 0;
        }

        &.hidden {
          opacity: 0 !important;
          transition: opacity 1s ease;
        }

        &.shown {
          opacity: 1;
          transition: opacity 1s ease;
        }
      }
    }
  }

  .scroll__text {
    position: relative;
    top: -60vh;
  }

  .step {
    width: 25vw;
    margin: 50vh 0 50vh 5vw;
    position: relative;
    background: rgba(255, 255, 255, 0.8);
    padding: 1em;

    p {
      margin: 0;
      padding: 0;
    }

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    .observation {
      .observation__date {
        font-family: 'Cabin', sans-serif;
        font-weight: 700;
        font-size: 1.5rem;
      }

      .observation__author {
        font-family: 'Cabin', sans-serif;
        font-size: 1rem;
        color: #888;
        margin-bottom: 1em;
      }

      .observation__description {
        p {
          margin-bottom: 1em;
        }
      }

      .observation__frequency-impact span {
        font-weight: bold;
      }
    }
  }
}

.snow-observations.observations__scroll-container {
  min-height: 375vh;
}

.ice-observations.observations__scroll-container {
  height: 730vh;
}

.river-observations.observations__scroll-container {
  height: 300vh;
}

.land-observations.observations__scroll-container {
  height: 210vh;
}

.vegetation-observations.observations__scroll-container {
  height: 395vh;
}
