.table-of-contents {
  padding: 1em;
  background-color: #f1f6f9;
  text-align: center;
  border-bottom: 1px solid #333;
  box-shadow: 0 1ex 1em 1ex #888;

  ol {
    font-size: 110%;
    list-style: none;
    counter-reset: toc;
    margin: 1ex auto;
    width: 40em;

    li {
      counter-increment: toc;
      display: inline-block;
      padding-right: 1ex;

      &::before {
        content: counter(toc) ". ";
        font-weight: bold;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }
}
