.title {
  height: 85vh;
  display: relative;

  @media (max-width: 1400px) {
    background: url('~images/obs/dogs-lake-margin-minchumina-water.jpg') no-repeat;
    background-size: cover;
  }

  @media (min-width: 1400px) {
    background: url('~images/title-page-full-resolution.jpg') no-repeat;
    background-size: cover;
  }

  .title__text-block {
    display: absolute;
    width: 40vw;
    height: 100%;

    h1 {
      position: absolute;
      width: 33vw;
      line-height: 1.25;
      margin: 28vh 0 0 1em;
      color: #fff;

      @media (max-width: 1400px) {
        font-size: 28pt;
      }
    }
  }
}
