<section class="conclusion">
  <a name="conclusion"></a>
  <h2>The changing seasonal cycle</h2>
  <figure>
    <img src="images/seasonal-cycle.svg"/>
    <figcaption>
      This figure generally summarizes environmental conditions that people in Interior Alaska experienced in the past compared to now, and how changes in environmental conditions may limit access to hunting, fishing, trapping, or gathering.  This graphic is illustrative only, and may not fully capture the variation experienced across Interior Alaska.
    </figcaption>
  </figure>
  <section class="narrative">
    <p>Environmental changes are affecting people in numerous ways as they are traveling across the landscape. In many cases, travel is more dangerous as a result of conditions such as open water during winter or more debris in the rivers during summer.  Some changes are harder on equipment, like having boat motors getting clogged more frequently or having to navigate rougher terrain from erosion. Some travel routes are being damaged or cut off from things like erosion and high water levels.  Access in some cases can improve too, for example high water levels in fall have allowed travel up small streams that may have previously been impassable.</p>
    <p>Some hunting, fishing, trapping, and gathering opportunities are reduced or even missed, with increased variability in seasonal weather and physical events such as the timing of fall freeze-up and spring break-up. River ice in spring deteriorates more quickly, increasing the amount of time when river travel is not safe on snow machine, and not possible by boat. Higher water levels and warm temperatures during a time a year that was previously noted for having less precipitation and cool temperatures, affects fall hunting opportunities.  With these changes people are having to find ways to adjust when or how they travel, and adapt to different conditions that often make access o important harvest resources more difficult.</p>
  </section>
</section>
