<section class="conclusion">
  <%- include backToTop %>
  <a name="conclusion"></a>
  <section class="narrative">
    <p>Environmental changes are affecting people in many ways as they traverse the landscape. In many cases, travel is <em>more dangerous</em> as a result of conditions such as open water during winter, or more debris in the rivers during summer. Some changes are <em>harder on equipment</em>, like boat motors clogging more often or having to navigate rougher, eroded terrain. Some travel routes are being <em>damaged or cut off</em> by things like erosion and high water levels. In some cases, access can improve&emdash;for example, high water levels in fall have allowed travel up small streams that may have previously been unnavigable.</p>
    <p>Some hunting, fishing, trapping, and gathering opportunities are reduced or even missed, with increased variability in seasonal weather and physical events such as the timing of fall freeze-up and spring break-up. River ice in spring deteriorates faster, increasing the amount of time when river travel by snowmachine is unsafe yet still impossible by boat. Higher water levels and warm temperatures during a time a year that was previously noted for having less precipitation and cool temperatures affects fall hunting opportunities.</p>
    <p>With these changes, people are having to find ways to adjust when or how they travel, and adapt to different conditions that often make it harder to access to important harvest resources.</p>
  </section>
  <figure>
    <img src="images/seasonal-cycle.svg"/>
    <figcaption>
      This figure summarizes past and present environmental conditions that people in Interior Alaska have experienced, and how changes in environmental conditions may limit access to hunting, fishing, trapping, or gathering. This diagram is illustrative only, and may not fully capture all of the variation experienced across Interior Alaska.
    </figcaption>
  </figure>
</section>
