<%- include backToTop %>
<section class="credits narrative">
  <a name="credits"></a>
  <h2>Acknowledgements</h2>
  <p>This project would not have been possible without the contributions of individuals across Interior Alaska. We would like to thank all of those who submitted photos and observations to this project as well as those who wished to remain anonymous.</p>
  <h3>Observers</h3>
  <ul>
    <li><span class="contributor">Cliff Adams</span> (Beaver)</li>
    <li><span class="contributor">Miki Collins</span> (Lake Minchumina)</li>
    <li><span class="contributor">Alvin Demintieff</span> (Holy Cross)</li>
    <li><span class="contributor">Ivan Demientieff</span> (Grayling)</li>
    <li><span class="contributor">Ronnie Demientieff</span> (Holy Cross)</li>
    <li><span class="contributor">Gareth Frank</span> (Venetie)</li>
    <li><span class="contributor">Eddy Frank</span> (Venetie)</li>
    <li><span class="contributor">Penny Green</span> (Lake Minchumina)</li>
    <li><span class="contributor">Joey Turner</span> (Nulato)</li>
    <li><span class="contributor">Dean Painter</span> (Nulato)</li>
    <li><span class="contributor">Barbara Pine</span> (Tok)</li>
    <li><span class="contributor">Joshua Roberts</span> (Venetie)</li>
    <li><span class="contributor">Matt Snyder</span> (Tok)</li>
    <li><span class="contributor">Carl Taylor</span> (Delta)</li>
    <li><span class="contributor">Eddy Wiehl</span> (Beaver)</li>
    <li><span class="contributor">Coke Wallace</span> (Healy)</li>
    <li><span class="contributor">Misty Walsh</span> (Tok)</li>
    <li><span class="contributor">Paul Williams Sr.</span> (Beaver)</li>
  </ul>
  <h3>Research Affiliates</h3>
  <ul>
    <li class="researcher">Helen S. Cold</li>
    <li class="researcher">Todd J. Brinkman</li>
    <li class="researcher">Carolyn L. Brown</li>
    <li class="researcher">Krista M. Heeringa</li>
    <li class="researcher">Teressa, N. Hollingsworth</li>
    <li class="researcher">David L. Verbyla</li>
    <li class="researcher">Dana R.N. Brown</li>
  </ul>
  <h3>Design and technical development</h3>
  <ul>
    <li>Seasonal Cycle diagram&mdash;Krista Heeringa (CPS), Heather McFarland (IARC), Carolyn Rosner (SNAP)</li>
    <li>Data analysis &amp; technical implementation&mdash;SNAP</li>
  </ul>
</section>
