<%- include backToTop %>
<section class="credits narrative">
  <a name="credits"></a>
  <h2>Acknowledgements</h2>
  <p>This project would not have been possible without the contributions of individuals across Interior Alaska. We would like to thank all of those who submitted photos and observations to this project as well as those who wished to remain anonymous.</p>
  <h3>Observers</h3>
  <ul>
    <li><span class="contributor">Cliff Adams</span> (Beaver)</li>
    <li><span class="contributor">Miki Collins</span> (Lake Minchumina)</li>
    <li><span class="contributor">Alvin Demintieff</span> (Holy Cross)</li>
    <li><span class="contributor">Ivan Demientieff</span> (Grayling)</li>
    <li><span class="contributor">Ronnie Demientieff</span> (Holy Cross)</li>
    <li><span class="contributor">Gareth Frank</span> (Venetie)</li>
    <li><span class="contributor">Eddy Frank</span> (Venetie)</li>
    <li><span class="contributor">Penny Green</span> (Lake Minchumina)</li>
    <li><span class="contributor">Joey Turner</span> (Nulato)</li>
    <li><span class="contributor">Dean Painter</span> (Nulato)</li>
    <li><span class="contributor">Barbara Pine</span> (Tok)</li>
    <li><span class="contributor">Joshua Roberts</span> (Venetie)</li>
    <li><span class="contributor">Matt Snyder</span> (Tok)</li>
    <li><span class="contributor">Carl Taylor</span> (Delta)</li>
    <li><span class="contributor">Eddy Wiehl</span> (Beaver)</li>
    <li><span class="contributor">Coke Wallace</span> (Healy)</li>
    <li><span class="contributor">Misty Walsh</span> (Tok)</li>
    <li><span class="contributor">Paul Williams Sr.</span> (Beaver)</li>
  </ul>
  <h3>Tribes</h3>
  <ul>
    <li>Beaver Traditional Council</li>
    <li>Grayling Tribal Council</li>
    <li>Holy Cross Tribal Council</li>
    <li>Nulato Tribal Council</li>
    <li>Native Village of Venetie Tribal Governments</li>
  </ul>
  <h3>Research Affiliates</h3>
  <ul>
    <li class="researcher">Helen S. Cold</li>
    <li class="researcher">Todd J. Brinkman</li>
    <li class="researcher">Caroline L. Brown</li>
    <li class="researcher">Krista M. Heeringa</li>
    <li class="researcher">Teresa, N. Hollingsworth</li>
    <li class="researcher">David L. Verbyla</li>
    <li class="researcher">Dana R.N. Brown</li>
  </ul>
  <h3>Design and technical development</h3>
  <ul>
    <li>Bruce Crevensten (SNAP)</li>
    <li>Krista Heeringa (CPS)</li>
    <li>Tom Kurkowksi (SNAP)</li>
    <li>Maija Wehmas (SNAP)</li>
    <li>Heather McFarland (IARC)</li>
    <li>Carolyn Rosner (SNAP)</li>
  </ul>
  <h3>Suggested citation for this website</h3>
Cold, H. S., T. J. Brinkman, C. L. Brown, T. N. Hollingsworth, D. R. N. Brown, K. M. Heeringa, Observers, B. Crevensten, T. Kurkowksi, M. Wehmas, H. McFarland, C. Rosner. 2018. Living off the Land: Environmental impacts to access in Interior Alaska.<br>
<a href="http://mapventure.org/environmental-impacts-access/index.html">http://mapventure.org/environmental-impacts-access/index.html</a>

  <h3>Journal citation for this research</h3>
Cold, H. S., T. J. Brinkman, C. L. Brown, T. N. Hollingsworth, D. R. N. Brown, and K. M. Heeringa. 2020. Assessing vulnerability of subsistence travel to effects of environmental change in Interior Alaska. <i>Ecology and Society</i> 25(1):20.<br>
<a href="https://doi.org/10.5751/ES-11426-250120">https://doi.org/10.5751/ES-11426-250120</a><br>
<a href="https://www.ecologyandsociety.org/vol25/iss1/art20/">https://www.ecologyandsociety.org/vol25/iss1/art20/</a>

</section>
