<section class="historical-fires__scroll-container">
  <div class="scroll__graphic">
    <div id="historical-fires__map"></div>
  </div>
  <div class="scroll__text">
    <div class="step">
      <h4>Vegetation changes</h4>
      <p>These are areas of <strong>vegetation changes</strong> that affect travel and access. Observer reports include the presence of more vegetation, falling trees from fires and erosion, and changes to vegetation from fire.</p>
    </div>
    <div class="step">
      <h4>Historical fires</h4>
      <p>This placeholder text describes this map.</p>
      <table class="historical-fires__legend">
        <tr><td><div class="class-1"></div></td><td>1970&mdash;1979</td></tr>
        <tr><td><div class="class-2"></div></td><td>1980&mdash;1989</td></tr>
        <tr><td><div class="class-3"></div></td><td>1990&mdash;1999</td></tr>
        <tr><td><div class="class-4"></div></td><td>2000&mdash;2009</td></tr>
        <tr><td><div class="class-5"></div></td><td>2010&mdash;2017</td></tr>
      </table>
    </div>
  </div>
</section>
