<section class="historical-fires__scroll-container map-scroller">
  <a name="vegetation-changes-map"></a>
  <div class="scroll__graphic">
    <div id="historical-fires__map" class="leaflet-map-wrapper"></div>
  </div>
  <div class="scroll__text">
    <div class="step">
      <h4>Vegetation changes</h4>
      <p>These are areas of <strong>vegetation changes</strong> that affect travel and access. Observer reports include the presence of more vegetation, falling trees from fires and erosion, and changes to vegetation from fire.</p>
    </div>
    <div class="step">
      <h4>Historical fires</h4>
      <p>This placeholder text describes this map.</p>
      <table class="historical-fires__legend map-legend inline">
        <tr><td><div class="class-1"></div></td><td>1970&ndash;1979</td></tr>
        <tr><td><div class="class-2"></div></td><td>1980&ndash;1989</td></tr>
        <tr><td><div class="class-3"></div></td><td>1990&ndash;1999</td></tr>
        <tr><td><div class="class-4"></div></td><td>2000&ndash;2009</td></tr>
        <tr><td><div class="class-5"></div></td><td>2010&ndash;2017</td></tr>
      </table>
    </div>
  </div>
</section>
