<footer>
  <%- include logos %>
  <div class="legal">UA is an AA/EO employer and educational institution and prohibits illegal discrimination against any individual. <a href="http://www.alaska.edu/nondiscrimination">Statement of Nondiscrimination</a></div>
</footer>
