<footer>
  <%- include logos %>
  <section class="narrative">
    <div class="contact">
      For more information about this research, contact Todd Brinkman at tjbrinkman@alaska.edu
    </div>
  </section>
  <section class="narrative">
    <div class="legal">UA is an affirmative action / equal opportunity employer, educational institution and provider, and prohibits illegal discrimination against any individual. <a href="https://www.alaska.edu/nondiscrimination/">Statement of Nondiscrimination</a> and <a href="https://www.alaska.edu/records/records/compliance/gdpr/ua-privacy-statement/">Privacy Statement</a></div>
  </section>
</footer>
