<footer>
  <%- include logos %>
    <section class="narrative">
      <div class="contact">
        For more information about this research, contact Todd Brinkman at tjbrinkman@alaska.edu
      </div>
    </section>
    <section class="narrative">
      <div class="legal">The <a href="https://www.alaska.edu/"> University of Alaska</a> is an Equal Opportunity/Equal
        Access Employer and Educational institution. The University is committed to a <a
          href="https://www.alaska.edu/nondiscrimination/">policy of non-discrimination</a> against individuals on the
        basis of any legally protected status.</div>
    </section>
</footer>