<div class="header">
  <a href="https://above.nasa.gov"><img src="images/above-logo.png" alt="Arctic-Boreal Vulnerability Experiment logo"/></a>
  <a href="http://www.adfg.alaska.gov/"><img src="images/ADFG.svg" alt="Alaska Department of Fish and Game"/></a>
  <a href="https://www.catg.org/"><img src="images/CATG.jpg" alt="Council of Athabascan Tribal Governments"/></a>
  <a href=""><img src="images/CPS_full_color.svg" alt="Community Partnerships for Self Reliance"/></a>
  <a href="https://www.iab.uaf.edu/"><img src="images/IAB.png" alt="Institute of Arctic Biology"/></a>
  <a href="https://snap.uaf.edu"><img src="images/SNAP_acronym_color.svg" alt="Scenarios Network for Alaska and Arctic Planning logo"/></a>
  <a href="https://uaf-iarc.org"><img src="images/IARC_color_square_acronym_rev.svg" alt="International Arctic Research Agency logo"/></a>
  <a href="https://alaska.edu"><img src="images/UAF_logo_color_square.svg" alt="University of Alaska logo"/></a>
  <a href="https://above.nasa.gov"><img src="images/NASA_logo.svg" alt="NASA logo"/></a>
</div>
