<div class="header-footer">
  <div class="header-footer__brand">
    Link |
    Placeholder
  </div>
  <div class="header-footer__logos">
    <a href="https://snap.uaf.edu"><img src="assets/images/SNAP_acronym_white.svg" alt="SNAP logo"/></a>
    <a href="https://uaf-iarc.org"><img src="assets/images/IARC_color_Square_acronym_rev.svg" alt="IARC logo"/></a>
    <a href="https://alaska.edu"><img src="assets/images/UAFLogo_A_nofill.svg" alt="UAF logo"/></a>
    <a href="https://above.nasa.gov"><img src="assets/images/nasa_logo.svg" alt="NASA logo"/></a>
  </div>
</div>
