<!-- container = ".scroll" -->
<div class="ice-and-snow__scroll-container">
  <!-- graphic = ".scroll__graphic" -->
  <div class="scroll__graphic">
    <!--graphic / chart code here-->
    <div id="ice-and-snow__map"></div>
  </div>
  <div class="scroll__text">
    <!-- steps = ".step" -->
    <div class="step" data-step="a"><p>Step1</p></div>
    <div class="step" data-step="b"><p>Step2</p></div>
    <div class="step" data-step="c"><p>Step3</p></div>
  </div>
</div>
