<section class="narrative">
  <a name="ice-narrative"></a><h2>ICE conditions explained by observers that affect travel and access</h2>
  <p>In the winter, the rivers and lakes become highways. Ice that freezes early, is smooth, and thick provides the best conditions for winter travel. Increasingly, these are not the changes that are being experienced by people as they traverse the landscape.</p>
  <p>Observers reported conditions of river and lake ice freezing later than what they have experienced in the past and melting earlier.  Thin ice and open water is becoming increasingly common, which can completely block off access to otherwise well used travel routes. Overflow, on rivers makes travel conditions unpredictable and unsafe, and slows travel down on land.</p>
</section>
