<section class="narrative">
  <a name="ice-narrative"></a>
  <h2>Observers explain ice conditions that affect travel and access</h2>
  <p>In the winter, rivers and lakes become snowmachine highways. Thick, stable, and predictable ice means safe and reliable winter travel. Increasingly, this is not what is being experienced by people as they traverse the landscape.</p>
  <p>Observers reported river and lake ice freezing later and melting earlier than what they experienced in the past. Also, thin ice and open water are becoming more common during the middle of winter, restricting access to otherwise well used travel routes. Open holes and thin ice throughout the winter make for extremely dangerous conditions that have claimed lives. More frequent overflow on river ice also presents unpredictable and unsafe challenges, slowing or rerouting travel. More frequent occurrences of shelf ice forming along riverbanks can pose obstacles to snowmachine routes all winter long.</p>
  <aside class="citations">
    <input class="citations__display-toggle" id="display-toggle-2" type="checkbox" />
    <label class="citations__show-content" for="display-toggle-2">Show research on this topic</label>
    <label class="citations__hide-content" for="display-toggle-2">Hide</label>
    <div class="citations__display-wrapper">
      <div class="citation">
        <span class="citation__title"><a href="https://journals.ametsoc.org/doi/abs/10.1175/WCAS-D-17-0101.1">Changing River Ice Seasonality and Impacts on Interior Alaska Communities</a></span>
        <span class="citation__contributors">Dana R.N. Brown and Todd Brinkman, et. al. 2018.</span>
        <span class="citation__summary">Explores changes river ice freeze-up and break-up conditions through the community observations referred to in this site and remote sensing. Analysis found delays in freeze-up were 1-2 days later in some communities, and breakup was 2 days sooner.  Unsafe travel conditions were 2 to 3 times greater during freeze-up than during break-up.</span>
      </div>
      <div class="citation">
        <span class="citation__title"><a href="http://jukebox.uaf.edu/site7/sites/default/files/documents/Dangerous%20Ice%20web%202013-08-07-A-1.pdf">On Dangerous Ice: Changing Ice Conditions on the Tanana River</a></span>
        <span class="citation__contributors">William Schneider, Karen Brewster, Knut Kielland, and Chas Jones. 2013.</span>
        <span class="citation__summary">Explores characteristics of dangerous ice conditions and provides general tips and guidelines for safe wintertime travel on the Tanana River.</span>
      </div>
    </div>
  </aside>
</section>
