<section class="narrative">
  <a name="ice-narrative"></a>
  <h2>Observers explain ice conditions that affect travel and access</h2>

  <p>In the winter, rivers and lakes become snowmachine highways. Thick, stable, and predictable ice provide conditions for safe and reliable winter travel. Increasingly, this is not what is being experienced by people as they traverse the landscape.</p>

  <p>Observers reported conditions of river and lake ice freezing later and melting earlier than what they experienced in the past. Also, thin ice and open water are becoming more common during the middle of winter, restricting access to otherwise well used travel routes. Open holes and thin ice for the duration of winter pose extremely dangerous conditions that have claimed lives. More frequent overflow on river ice also presents unpredictable and unsafe challenges, slowing or rerouting travel. More frequent occurrences of shelf ice forming along riverbanks can pose obstacles to snowmachine routes all winter long.</p>
</section>
