<section class="ice-observations observations__scroll-container">
  <div class="scroll__graphic">
    <div class="observations__images">
      <img class="shown lazy" data-img="1" data-src="images/obs/wet-meadow.jpg" alt="" />
      <img class="shown lazy" data-img="2" data-src="images/obs/crack-in-lake-ice.jpg" />
      <img class="hidden lazy" data-img="3" data-src="images/obs/overflow.jpg" alt="" />
      <img class="hidden lazy" data-img="4" data-src="images/obs/snowmachine-tracks.jpg" alt="" />
      <img class="hidden lazy" data-img="5" data-src="images/obs/dogs-spring-ice-minchumina.jpg" alt="" />
      <img class="hidden lazy" data-img="6" data-src="images/obs/ice-overflow-lake.jpg" alt="" />
      <img class="hidden lazy" data-img="7" data-src="images/obs/river-ice-cracks.jpg" alt="" />
    </div>
  </div>
  <div class="scroll__text">
    <div class="step" data-step="1">
      <div class="observation" data-observation-id="247">
        <a name="ice-conditions-observation-247"></a>
        <div class="observation__date">February, 2017</div>
        <div class="observation__author">Ronnie Demientieff</div>
        <div class="observation__description">
          <p>Open water in February. Froze to the bottom, then flooded over because of lack of snow (no insulation). This can be dangerous and hard for snow machine travel. It's hard on machines and I had to find a route around.  This change affects trapping. I first started noticing this change in 2011, but not observe it seasonally. It has a strong effect on safety.</p>
        </div>
      </div>
    </div>
    <div class="step" data-step="2">
      <div class="observation" data-observation-id="4">
        <a name="ice-conditions-observation-4"></a>
        <div class="observation__date">March 4, 2016</div>
        <div class="observation__author">Dean Painter</div>
        <div class="observation__description">
          <p>Open water in snowmachine trail on way to check beaver sets going toward Kaiyuh. Open all the way across, makes snow machine access dangerous. This change effects trapping, happens seasonally, is observed often, and has a moderate affect on safety.</p>
        </div>
      </div>
    </div>
    <div class="step" data-step="3">
      <div class="observation" data-observation-id="11">
        <a name="ice-conditions-observation-11"></a>
        <div class="observation__date">March 12, 2016</div>
        <div class="observation__author">Misty Walsh</div>
        <div class="observation__description">
          <p>High ice build up could cause difficulty driving snowmachines on river.  This change affects trapping, I've never seen it before in this location, I first started noticing these changes in 2005, and not not see it often.  This change has a strong effect on safety.</p>
        </div>
      </div>
    </div>
    <div class="step" data-step="4">
      <div class="observation" data-observation-id="37">
        <a name="ice-conditions-observation-37"></a>
        <div class="observation__date">March 14, 2016</div>
        <div class="observation__author">Matt Snyder</div>
        <div class="observation__description">
          <p>Thin ice on Mineral Lake is caving in earlier than normal. This results in shorter travel season for trapping.  I first started noticing this change in 2006. This change happens seasonally, is observed often, and has a strong effect on safety.</p>
        </div>
      </div>
    </div>
    <div class="step" data-step="5">
      <div class="observation" data-observation-id="373">
        <a name="ice-conditions-observation-373"></a>
        <div class="observation__date">April 24, 2016</div>
        <div class="observation__author">Miki Collins</div>
        <div class="observation__description">
          <p>Mushing from shore onto the spring ice, then out on the ice of the lake.  Travel on the lake is still good by dog team, although the dogs need to go through water flooding the edge of the ice getting on/off the pack ice. Usually at this point the surface is hard and free of snow and slush, but this year found a layer of thin ice overlying watery slush sitting on the pack ice, making it slow and a little unpleasant for the dogs. Can be challenging and occasionally dangerous.  This change affects travel, and is observed seasonally.  It has a moderate effect on safety.</p>
        </div>
      </div>
    </div>
    <div class="step" data-step="6">
      <div class="observation" data-observation-id="277">
        <a name="ice-conditions-observation-277"></a>
        <div class="observation__date">October 19, 2016</div>
        <div class="observation__author">Pamela Green</div>
        <div class="observation__description">
          <p>Unusual freeze-up and ice shelf caused by a 3 day wind storm as it cooled and froze. The lake ice was very rough with large chunks and a very thick buildup of solid ice near the shore and on grasses.  This is a large (10 ft approx.) ice shelf that is so slippery and uneven to walk on it required crampons of the extreme toothed kind and is dangerous where it drops off to lake ice for machines and man trying to go from land to lake for travel. The snowmachines require snow. This needed to be crossed for main winter wood gathering.  This change affects trapping.  I first started noticing this change in 2016, and had never observed it before.  It has a strong effect on safety.</p>
        </div>
      </div>
    </div>
    <div class="step" data-step="7">
      <div class="observation" data-observation-id="217">
        <a name="ice-conditions-observation-217"></a>
        <div class="observation__date">November 7, 2016</div>
        <div class="observation__author">Misty Walsh</div>
        <div class="observation__description">
          <p>Thin ice on river. Can't travel the river yet and there is not enough snow to go overland on snowmachines - have to use 4x4s for setting trapline. Rivers that are not frozen this time of year are a hazard to traveling. This change affects trapping. I first started noticing this change in 2005 and now observe it seasonally. It has a strong effect on safety.</p>
        </div>
      </div>
    </div>
  </div>
</section>
