<section class="ice-observations observations__scroll-container">
  <div class="scroll__graphic">
    <div class="observations__images">
      <img class="shown lazy" data-img="6" data-src="images/obs/ice-overflow-lake.jpg" alt="" />
      <img class="hidden lazy" data-img="7" data-src="images/obs/river-ice-cracks.jpg" alt="" />

      <img class="hidden lazy" data-img="1" data-src="images/obs/wet-meadow.jpg" alt="" />
      <img class="hidden lazy" data-img="2" data-src="images/obs/crack-in-lake-ice.jpg" />
      <img class="hidden lazy" data-img="5" data-src="images/obs/dogs-spring-ice-minchumina.jpg" alt="" />
    </div>
  </div>
  <div class="scroll__text">
    <div class="step" data-step="6">
      <div class="observation" data-observation-id="277">
        <a name="ice-conditions-observation-277"></a>
        <h4>Pamela Green</h4>
        <h5>Lake Minchumina</h5>
        <h6>October 19</h6>
        <div class="observation__description">
          <q>Unusual freeze-up and ice shelf caused by a 3 day wind storm as it cooled and froze. The lake ice was very rough with large chunks and a very thick buildup of solid ice near the shore and on grasses.  This is a large (10 ft approx.) ice shelf that is so slippery and uneven to walk on it required crampons of the extreme toothed kind and is dangerous where it drops off to lake ice for machines and man trying to go from land to lake for travel. The snow machines require snow. This needed to be crossed for main winter wood gathering.</q>

          <p>This change affects trapping. I first started noticing this change in 2016, and have not observed it before. It has a strong effect on safety.</p>
        </div>
      </div>
    </div>
    <div class="step" data-step="7">
      <div class="observation" data-observation-id="217">
        <a name="ice-conditions-observation-217"></a>
        <h4>Misty Walsh</h4>
        <h5>Tok</h5>
        <h6>November 7</h6>
        <div class="observation__description">
          <q>Thin ice on river. Can't travel the river yet and there is not enough snow to go overland on snowmachines&mdash;have to use 4&times;4s for setting trapline. Rivers that are not frozen this time of year are a hazard to traveling.</q>

          <p>This change affects trapping. I first started noticing this change in 2005 and now observe it seasonally. It has a strong effect on safety.</p>

        </div>
      </div>
    </div>
    <div class="step" data-step="1">
      <div class="observation" data-observation-id="247">
        <a name="ice-conditions-observation-247"></a>
        <h4>Ronnie Demientieff</h4>
        <h5>Holy Cross</h5>
        <h6>January 1</h6>
        <div class="observation__description">
          <q>Open water in January. Froze to the bottom, then flooded over because of lack of snow (no insulation). This can be dangerous and hard for snow machine travel. It's hard on machines and I had to find a route around.</q>

          <p>This change affects trapping. I first started noticing this change in 2011, but do not observe it seasonally. It has a strong effect on safety.</p>

        </div>
      </div>
    </div>
    <div class="step" data-step="2">
      <div class="observation" data-observation-id="4">
        <a name="ice-conditions-observation-4"></a>
        <h4>Dean Painter</h4>
        <h5>Nulato</h5>
        <h6>March 4</h6>
        <div class="observation__description">
          <q>Open water in snowmachine trail on way to check beaver sets going toward Kaiyuh. Open all the way across, makes snow machine access dangerous.</q>

          <p>This change affects trapping, happens seasonally, is observed often, and has a moderate effect on safety.</p>
        </div>
      </div>
    </div>

    <div class="step" data-step="5">
      <div class="observation" data-observation-id="373">
        <a name="ice-conditions-observation-373"></a>
        <h4>Miki Collins</h4>
        <h5>Lake Minchumina</h5>
        <h6>April 24</h6>
        <div class="observation__description">
          <q>Mushing from shore onto the spring ice, then out on the ice of the lake.  Travel on the lake is still good by dog team, although the dogs need to go through water flooding the edge of the ice getting on/off the pack ice. Usually at this point the surface is hard and free of snow and slush, but this year found a layer of thin ice overlying watery slush sitting on the pack ice, making it slow and a little unpleasant for the dogs. Can be challenging and occasionally dangerous.</q>

          <p>This change affects travel, and is observed seasonally. It has a moderate effect on safety.</p>
        </div>
      </div>
    </div>

  </div>
</section>
