<section class="ice-observations observations__scroll-container">
  <div class="scroll__graphic">
    <div class="observations__images">
      <img class="shown lazy" data-img="1" data-src="images/obs/crack-in-lake-ice.jpg" />
      <img class="hidden lazy" data-img="2" data-src="images/obs/wet-meadow.jpg" alt="" />
      <img class="hidden lazy" data-img="3" data-src="images/obs/dogs-lake-margin-minchumina-water.jpg" alt="" />
      <img class="hidden lazy" data-img="4" data-src="images/obs/ice-overflow-lake.jpg" alt="" />
      <img class="hidden lazy" data-img="5" data-src="images/obs/overflow.jpg" alt="" />
      <img class="hidden lazy" data-img="6" data-src="images/obs/snowmachine-tracks.jpg" alt="" />
      <img class="hidden lazy" data-img="7" data-src="images/obs/river-ice-cracks.jpg" alt="" />
    </div>
  </div>
  <div class="scroll__text">
    <div class="step" data-step="1">
      <div class="observation" data-observation-id="4">
        <div class="observation__date">4-Mar-16</div>
        <div class="observation__author">Dean Painter</div>
        <div class="observation__description">
          <p>Open water in snowmachine trail on way to check beaver sets going toward Kaiyuh</p>
          <p>Open all the way across, makes snow machine access dangerous</p>
        </div>
        <div class="observation__frequency-impact">
          <p>First seen in <span class="first-observed">2016</span>, <span class="frequency">Observed seasonally</span>, <span class="common-elsewhere">This change is common, I see it everywhere</span> and it has a <span class="safety-impact">Moderate affect</span> on travel and safety.</p>
        </div>
      </div>
    </div>
    <div class="step" data-step="2">
      <div class="observation" data-observation-id="247">
        <div class="observation__date">1-Jan-17</div>
        <div class="observation__author">Ronnie Demientieff</div>
        <div class="observation__description">
          <p>Open water in February.  Froze to the bottom, then flooded over because of lack of snow (no insulation).</p>
          <p>This can be dangerous and hard for snow machine travel (hard on machine, fnd route around).</p>
        </div>
        <div class="observation__frequency-impact">
          <p>First seen in <span class="first-observed">2011</span>, <span class="frequency">Observed seasonally</span>, <span class="common-elsewhere">This change is common, I see it everywhere</span> and it has a <span class="safety-impact">Strong affect</span> on travel and safety.</p>
        </div>
      </div>
    </div>
    <div class="step" data-step="3">
      <div class="observation" data-observation-id="373">
        <div class="observation__date">24-Apr-16</div>
        <div class="observation__author">Miki Collins</div>
        <div class="observation__description">
          <p>Mushing from shore onto the spring ice, then out on the ice of the lake.</p>
          <p>Travel on the lake is still good by dog team, although the dogs need to go through water flooding the edge of the ice getting on/off the pack ice. Usually at this point the surface is hard and free of snow and slush, but this year found a layer of thin ice overlying watery slush sitting on the pack ice, making it slow and a little unpleasant for the dogs. Can be challenging and occasionally dangerous.</p>
        </div>
        <div class="observation__frequency-impact">
          <p>First seen in <span class="first-observed"></span>, <span class="frequency">Observed seasonally</span>, <span class="common-elsewhere">This change is common, I see it everywhere</span> and it has a <span class="safety-impact">Moderate affect</span> on travel and safety.</p>
        </div>
      </div>
    </div>
    <div class="step" data-step="4">
      <div class="observation" data-observation-id="277">
        <div class="observation__date">19-Oct-16</div>
        <div class="observation__author">Pamela Green</div>
        <div class="observation__description">
          <p>Unusual freeze-up and ice shelf caused by a 3 day wind storm as it cooled and froze. The lake ice was very rough with large chunks and a very thick buildup of solid ice near the shore and on grasses.</p>
          <p>This is a large (10 ft approx.) ice shelf that is so slippery and uneven to walk on it required crampons of the extreme toothed kind and is dangerous where it drops off to lake ice for machines and man trying to go from land to lake for travel. The snowmachines require snow. This needed to be crossed for main winter wood gathering.</p>
        </div>
        <div class="observation__frequency-impact">
          <p>First seen in <span class="first-observed">2016</span>, <span class="frequency">Never observed before</span>, <span class="common-elsewhere">I have seen this change in some other areas</span> and it has a <span class="safety-impact">Strong affect</span> on travel and safety.</p>
        </div>
      </div>
    </div>
    <div class="step" data-step="5">
      <div class="observation" data-observation-id="11">
        <div class="observation__date">12-Mar-16</div>
        <div class="observation__author">Misty Walsh</div>
        <div class="observation__description">
          <p>High ice build up</p>
          <p>Build up could cause difficulty driving snowmachines on river</p>
        </div>
        <div class="observation__frequency-impact">
          <p>First seen in <span class="first-observed">2005</span>, <span class="frequency">Never observed before</span>, <span class="common-elsewhere">This change is common, I see it everywhere</span> and it has a <span class="safety-impact">Strong affect</span> on travel and safety.</p>
        </div>
      </div>
    </div>
    <div class="step" data-step="6">
      <div class="observation" data-observation-id="37">
        <div class="observation__date">14-Mar-16</div>
        <div class="observation__author">Matt Snyder</div>
        <div class="observation__description">
          <p>Thin ice on Mineral Lake is caving in earlier than normal.</p>
          <p>Results in shorter travel season for trapping.</p>
        </div>
        <div class="observation__frequency-impact">
          <p>First seen in <span class="first-observed">2006</span>, <span class="frequency">Observed seasonally</span>, <span class="common-elsewhere">This change is common, I see it everywhere</span> and it has a <span class="safety-impact">Strong affect</span> on travel and safety.</p>
        </div>
      </div>
    </div>
    <div class="step" data-step="7">
      <div class="observation" data-observation-id="217">
        <div class="observation__date">07-Nov-16</div>
        <div class="observation__author">Misty Walsh</div>
        <div class="observation__description">
          <p>Thin ice on river</p>
          <p>Can't travel the river yet and not enough snow to go overland on snowmachines - have to use 4x4s for setting trapline. Rivers that are not frozen this time of year are a hazard to traveling.</p>
        </div>
        <div class="observation__frequency-impact">
          <p>First seen in <span class="first-observed">2005</span>, <span class="frequency">Observed seasonally</span>, <span class="common-elsewhere">This change is common, I see it everywhere</span> and it has a <span class="safety-impact">Strong affect</span> on travel and safety.</p>
        </div>
      </div>
  </div>
</section>
