<section class="introduction narrative">
  <a name="introduction"></a>
  <h2>Introduction</h2>
  <p>Arctic and sub&ndash;Arctic regions are warming at about twice the global rate. As a result, hunters, fishers, and people traveling across the landscapes of Interior Alaska are encountering climate-related changes in the environment that are challenging access to important local resources.  Most communities in Interior Alaska are not road accessible. Access to local resources and other communities is mostly by boat and four wheelers in summer, and by snow machines or dog sleds in winter.
  </p>

  <p>Between 2016 and 2017, 26 observers from nine communities in Interior Alaska documented climate-related environmental conditions that were affecting their travel to areas used for hunting, fishing, trapping, and gathering. Environmental conditions fell into seven categories: ice, snow, erosion, sedimentation, water levels, vegetation composition, and weather.</p>
  <figure>
    <div id="observations-pie-chart"></div>
  </figure>
  <p>A total of 746 observations were recorded during a one year period which included both spatially explicit photos and descriptions of environmental conditions affecting travel and access and comprehensive interviews that captured environmental effects not included in photos, such as conditions that would inhibit travel altogether. </p>
  <aside class="citations">
    <div class="citation">
      <span class="citation__title">Assessing Vulnerability of Subsistence Travel to Effects of Environmental Change in Interior Alaska</span>
      <span class="citation__contributors">Helen S. Cold, Todd J. Brinkman, Carolyn L. Brown, Krista M. Heeringa, Teressa, N. Hollingsworth, David L. Verbyla, Dana R.N. Brown.</span> (In preparation)
      <span class="citation__publication">Ecology and Society</span>
    </div>
  </aside>
</section>
