<section class="introduction narrative">
  <h2>Introduction</h2>
  <p>The Arctic and sub-Arctic are warming almost twice as fast as the rest of the world. As a result, people traveling across Interior Alaska are encountering climate-related changes in the environment that are challenging their traditional access to important local resources. There are almost no roads in this region, so travel is mostly by boat and four-wheelers in summer, and by snowmachines or dogsleds in winter.</p>
  <p>Between 2016 and 2017, 26 observers from nine communities in Interior Alaska documented climate-related environmental conditions that were affecting their travel to areas used for hunting, fishing, trapping, and gathering. These conditions included ice, snow, erosion, sedimentation, water levels, vegetation composition, and weather.</p>
  <aside class="citations">
    <input class="citations__display-toggle" id="display-toggle-1" type="checkbox" />
    <label class="citations__show-content" for="display-toggle-1">Show research on this topic</label>
    <label class="citations__hide-content" for="display-toggle-1">Hide</label>
    <div class="citations__display-wrapper">
      <div class="citation">
        <span class="citation__title">Assessing vulnerability of subsistence travel to effects of environmental change in Interior Alaska</span>
        <span class="citation__contributors">Cold, H. S., T. J. Brinkman, C. L. Brown, T. N. Hollingsworth, D. R. N. Brown, and K. M. Heeringa.</span> 2020.
        <span class="citation__publication">Ecology and Society</span> 25(1):20.
        <br>
        <a href="https://doi.org/10.5751/ES-11426-250120">https://doi.org/10.5751/ES-11426-250120</a><br>
        <a href="https://www.ecologyandsociety.org/vol25/iss1/art20/">https://www.ecologyandsociety.org/vol25/iss1/art20/</a>
      </div>
    </div>
  </aside>
</section>
<section class="observations-figure">
  <figure>
    <img src="images/obs-chart.svg">
    <figcaption>
      A total of 746 observations were recorded during a one-year period. Observations included photos and descriptions of environmental conditions affecting travel and access. Observers were interviewed to capture environmental effects&mdash;such as conditions that would inhibit travel altogether&mdash;that may not have been captured in a photo.
    </figcaption>
  </figure>
</section>
