<section class="introduction narrative">
  <a name="introduction"></a><h2>Introduction</h2>
  <p>With global level climate change and evidence of the Arctic warming approximately twice the global rate hunters, fishers, and people travelling on the landscape experiencing many changes in Interior Alaska.</p>
  <p>Between 2016 and 2017, 26 observers from 9 communities in Interior Alaska documented changes they were noticing while hunting, fishing, trapping, gathering and travelling.  Many communities in Interior Alaska are not road accessible, the highways to accessing hunting, fishing, and gathering resources and other communities is mostly by boat and four wheelers in summer and snow machines or dog sleds in winter. Travel and the ability to access important food and shelter resources are affected by environmental change.  Observations contributed during the one-year period fell into seven different environmental conditions: ice, snow, erosion, sedimentation, water levels, vegetation composition, and weather.</p>
</section>
