<div class="introduction narrative">
  <a name="introduction"></a><h1>Introduction</h1>
    <p>With global level climate change and evidence of the Arctic warming approximately twice the global rate, how are hunters, fishers, and people travelling on the landscape experiencing change in interior Alaska?</p>
    <p>Between 2016 and 2017, 26 observers from 9 communities in interior Alaska documented changes they were noticing while traveling, hunting, fishing, and gathering.</p>

    <p>Observations contributed during the one-year period fell into seven categories of environmental change.</p>
    <p><b>Late fall, winter, and early spring conditions</b></p>
    <ul>
      <li>Ice: Presence or absence, thickness, quality of river and lake ice.</li>
      <li>Snow: Presence or absence, depth, consistency.</li>
    </ul>
    <p><b>Summer conditions</b></p>
    <ul>
       <li>Erosion: Loss of soil due to water, wind, and permafrost thaw.</li>
       <li>Sedimentation: Wind or water building up soil and affecting access.</li>
       <li>Water Levels: Amount and depth of water experienced during travel.</li>
     </ul>
    <p><b>Year round conditions</b></p>
    <ul>
      <li>Vegetation Change: Changes in growth and presence of vegetation including changes related to fire.</li>
      <li>Weather: Temperature extremes and weather events—including wind and precipitation—directly affecting travel.</li>
    </ul>
</div>
