<section class="land-observations observations__scroll-container scroll-container">
  <a name="land-observations"></a>
  <div class="scroll__graphic sticky">
    <div class="observations__images">
      <img class="shown lazy" data-img="1" data-src="images/obs/riverbank-erosion.jpg" />
      <img class="hidden lazy" data-img="2" data-src="images/obs/flooded-access.jpg" alt="" />
      <img class="hidden lazy" data-img="3" data-src="images/obs/wet-trail.jpg" alt="" />
      <img class="hidden lazy" data-img="4" data-src="images/obs/flooded-road.jpg" alt="" />
      <img class="hidden lazy" data-img="5" data-src="images/obs/debris.jpg" alt="" />
    </div>
  </div>
  <div class="scroll__text">

    <div class="step" data-step="1">
      <div class="observation" data-observation-id="57">
        <h4>Joshua Roberts</h4>
        <h5>Venetie</h5>
        <h6>May 15</h6>
        <q>River bank erosion. River bank was flat across here about 2 years ago. "Hungwinja" is this name of this place. Erosion wiped out the road, you can't drive across it anymore, you have to walk. Pretty soon water might flow into a nearby man-made pond. </q>
        <p>This change affects village travel. I first started noticing this change in 2013. I've seen this change in a few other places and it has a strong effect on safety.</p>
      </div>
    </div>

    <div class="step" data-step="2">
      <div class="observation" data-observation-id="90">
        <h4>Eddy Frank</h4>
        <h5>Venetie</h5>
        <h6>July 10</h6>
        <q>Water on the road towards the mountain, restricting access to berry picking (blueberry, cranberry) and fall moose hunting.  The water is caused by runoff from the mountain - fire north of here opened ways for water to come down.</q>

        <p>This change affects hunting and gathering berries. I first started noticing this change in 2004, but now I see it seasonally. This change has a strong effect on safety.</p>
      </div>
    </div>

    <div class="step" data-step="3">
      <div class="observation" data-observation-id="173a">
        <h4>Pamela Green</h4>
        <h5>Lake Minchumina</h5>
        <h6>July 16</h6>
        <q>A huge sinkhole in the trail from cabin to road access. This slows everything and prevents travel when accidents are likely, falling into hole or ruining motor on machine if it sinks into water, due to higher temperatures, excess rain and humidity.</q>

        <p>This change affects all travel from our cabin. I first started noticing this change in 2014. This change occurs seasonally and I've seen it in other areas. It has a strong effect on safety.</p>
      </div>
    </div>

    <div class="step" data-step="4">
      <div class="observation" data-observation-id="268">
        <h4>Penny Green</h4>
        <h5>Lake Minchumina</h5>
        <h6>August 25</h6>
        <q>The intersection of the roads paralleling the main runway on the west with the lake and beach roads going north and then south to access the north beach runway and parking area. The water is too deep to travel through and loose gravel pile up hampered us also. It flooded up along the stop sign, usually on the beach. No road at all usable, blocked by water, banks and brush.  This completely prevents the use of this travel area in several directions because of high deep water and new loose gravel preventing good traction. We have to travel by boats only, subject to wind conditions over water, or go up over the hills in the woods over longer, slower route, which is also often not usable.</q>
        <p>This change affects travel for all purposes.  I’ve never seen this before.  This change has a strong effect on safety.</p>
      </div>
    </div>

    <div class="step" data-step="5">
      <div class="observation" data-observation-id="122">
        <h4>Carl Taylor</h4>
        <h5>Delta</h5>
        <h6>September 12</h6>
        <q>Sand deposited on trail from washouts.  Just a photo to show how much material has been moved. Actually makes travel in this location easier now.</q>

        <p>This change affects hunting and gathering.  I first started noticing this change in 2012, but no see it seasonally. This change has a moderate effect on safety.</p>
      </div>
    </div>

  </div>
</section>
