<section class="land-observations observations__scroll-container">
  <div class="scroll__graphic">
    <div class="observations__images">
      <img class="shown lazy" data-img="1" data-src="images/obs/riverbank-erosion.jpg" />
      <img class="hidden lazy" data-img="2" data-src="images/obs/wet-trail.jpg" alt="" />
    </div>
  </div>
  <div class="scroll__text">
    <div class="step" data-step="1">
      <div class="observation" data-observation-id="57">
        <a name="erosion-observation-57"></a>
        <div class="observation__date">May 15, 2016</div>
        <div class="observation__author">Joshua Roberts</div>
        <div class="observation__description">
          <p>River bank erosion. River bank was flat across here about 2 years ago. "Hungwinja" is this name of this place. Erosion wiped out the road, you can't drive across it anymore, you have to walk. Pretty soon water might flow into a nearby man-made pond. This change affects village travel. I first started noticing this change in 2013. I've seen this change in a few other places and it has a strong effect on safety.</p>
        </div>
      </div>
    </div>

    <div class="step" data-step="2">
      <div class="observation" data-observation-id="173">
        <a name="erosion-observation-173"></a>
        <div class="observation__date">July 16, 2016</div>
        <div class="observation__author">Pamela Green</div>
        <div class="observation__description">
          <p>A huge sinkhole in the trail from cabin to road access. This slows everything and prevents travel when accidents are likely, falling into hole or ruining motor on machine if it sinks into water, due to higher temperatures, excess rain and humidity. This change affects all travel from our cabin. I first started noticing this change in 2014. This change occurs seasonally and I've seen it in other areas.  It has a strong effect on safety.</p>
        </div>
      </div>
    </div>
  </div>
</section>
