<section class="narrative">
  <a name="land-narrative"></a>
  <h2>Land travel and access</h2>
  <p>Trails along riverbanks, through the boreal forest, and across wetlands are used year&ndash;round. Although trails always provide important corridors for accessing resources, trail access across lakes and wetlands is limited in summer by the increased presence of water Optimal trail conditions in winter include a consistent grade with dependably frozen ground. Optimal summer trails are dry and unobstructed.</p>
  <p>Environmental changes affect rivers in several ways. Trails and roads that are located close to riverbanks and lakes are increasingly being damaged or completely destroyed by bank erosion. Banks are steeper, making it more difficult to get to old portages. On land, unseasonably wet conditions quickly deteriorate trails and sometimes make them impassible.</p>
  <p>As they traversed the landscape, observers reported seeing more sinkholes, which are likely related to thawing permafrost. In the summer, these holes fill with water and sometimes cut off trail access. In winter, sinkholes create conditions that are easy to get stuck in and are difficult to navigate through. All of these environmental changes have made for slower and more uncertain travel conditions throughout the year.</p>
</section>
