<nav class="menu">
  <span class="menu__toggle">Menu</span>
  <ol>
    <li>
      <a href="#introduction">Top</a>
    </li>
    <li>
      <a href="#ice-narrative">Ice conditions</a>
    </li>
    <li>
      <a href="#snow-narrative">Snow conditions</a>
    </li>
    <li>
      <a href="#river-narrative">River travel and access</a>
    </li>
    <li>
      <a href="#land-narrative">Land travel and access</a>
    </li>
    <li>
      <a href="#vegetation-narrative">Vegetation and fire</a>
    </li>
    <li>
      <a href="#conclusion">Conclusion</a>
    </li>
    <li>
      <a href="#credits">Acknowledgements</a>
    </li>
  </ol>
</nav>
