<div class="observations-map__scroll-container">
  <div class="scroll__graphic">
    <div id="observations-map__map"></div>
  </div>
  <div class="scroll__text">
    <div class="step" data-step="ice">
      <p>These markers show the location of ice conditions observations recorded by observers for this study.  Ice conditions include things like (x, y, z).</p>
    </div>
    <div class="step" data-step="snow">
      <p>Snow conditions that affect travel and subsistence, such as (x, y, z), were recorded in these locations.</p>
    </div>
    <div class="step" data-step="travel">
      <p>Here, particpants recorded observations that impact travel along land and water.  These impacts include erosion, sedimentation, and water level events.</p>
    </div>
    <div class="step" data-step="vegetation">
      <p>Changes to vegetation were noted in these places.  Changes to vegetation include things like (x, y, z).</p>
    </div>
    <div class="step" data-step="weather">
      <p>Finally, here&rsquo;s where observers noted weather-related or other observations to contribute to the study.</p>
    </div>
  </div>
</div>
