<div class="observations-map__scroll-container">
  <div class="scroll__graphic">
    <div id="observations-map__map"></div>
  </div>
  <div class="scroll__text">
    <div class="step" data-step="ice">
      <p><strong>Ice conditions</strong> affecting travel and access to harvest resources were recorded by observers for this study in the highlighted areas. Ice conditions reported by observers include things like open holes on rivers during winter, thin ice, late freeze-up, early-thaw, overflow, and shelf-ice. </p>
    </div>
    <div class="step" data-step="snow">
      <p><strong>Snow conditions</strong> that affect travel and access such as later snow, rain&ndash;on&ndash;snow events, no snow in mid-winter, significant snow accumulation during a single weather event, and early snowmelt, were recorded in these locations.</p>
    </div>
    <div class="step" data-step="travel">
      <p>Here, participants recorded observations that impact travel along land and water related to <strong>erosion, sedimentation, and changes in water levels</strong>. Impacts include things like more debris in rivers from bank erosion and more variable water levels that change river and trail navigability.</p>
    </div>
    <div class="step" data-step="vegetation">
      <p>Examples of <strong>vegetation changes</strong> recorded by observers that affect travel and access is the presence of more vegetation, falling trees from fires and erosion, and changes to vegetation from fire.</p>
    </div>
  </div>
</div>
