<div class="permafrost-map__scroll-container">
  <div class="scroll__graphic">
    <div id="permafrost-map__map"></div>
    <div class="permafrost-map__legend">
      <table>
        <tr><td><div class="class-1"></div></td><td>9.7&deg;F</td></tr>
        <tr><td><div class="class-2"></div></td><td>16.8&deg;F</td></tr>
        <tr><td><div class="class-3"></div></td><td>24.0&deg;F</td></tr>
        <tr><td><div class="class-4"></div></td><td>31.1&deg;F</td></tr>
        <tr><td><div class="class-5"></div></td><td>38.3&deg;F</td></tr>
        <tr><td><div class="class-6"></div></td><td>45.4&deg;F</td></tr>
      </table>
    </div>
  </div>
  <div class="scroll__text">
    <div class="step">
      <h3>Land and water</h3>
      <p>Here, participants noted <strong>land and water conditions</strong> that impact travel in terms of erosion, sedimentation, and changes in water levels. Observer reports include seeing more debris in rivers from bank erosion and greater amounts of water level variability&mdash;each of which directly affect navigability of rivers and trails</p>
    </div>
    <div class="step" data-step="a">
      <h3>Permafrost, 1970&rsquo;s</h3>
      <p>This needs a description!</p>
    </div>
    <div class="step" data-step="b">
      <h3>Permafrost, 2010&rsquo;s</h3>
      <p>This needs a description!</p>
    </div>
  </div>
</div>
