<div class="permafrost-map__scroll-container">
  <div class="scroll__graphic">
    <div id="permafrost-map__map"></div>
    <div class="permafrost-map__legend">
      <table>
        <tr><td><div class="class-1"></div></td><td>-12.4</td></tr>
        <tr><td><div class="class-2"></div></td><td>-8.42</td></tr>
        <tr><td><div class="class-3"></div></td><td>-4.46</td></tr>
        <tr><td><div class="class-4"></div></td><td>-0.494</td></tr>
        <tr><td><div class="class-5"></div></td><td>3.47</td></tr>
        <tr><td><div class="class-6"></div></td><td>7.43</td></tr>
      </table>
    </div>
  </div>
  <div class="scroll__text">
    <div class="step" data-step="a">
      <h3>Permafrost, 1970&rsquo;s</h3>
      <p>This needs a description!</p>
    </div>
    <div class="step" data-step="b">
      <h3>Permafrost, 2010&rsquo;s</h3>
      <p>This needs a description!</p>
    </div>
  </div>
</div>
