<div class="permafrost-map__scroll-container map-scroller">
  <a name="land-and-water-map"></a>
  <div class="scroll__graphic">
    <div id="permafrost-map__map" class="leaflet-map-wrapper"></div>
    <div class="permafrost-map__legend hidden map-legend">
      <table>
        <tr><td><div class="class-1"></div></td><td>9.7&deg;F</td></tr>
        <tr><td><div class="class-2"></div></td><td>16.8&deg;F</td></tr>
        <tr><td><div class="class-3"></div></td><td>24.0&deg;F</td></tr>
        <tr><td><div class="class-4"></div></td><td>31.1&deg;F</td></tr>
        <tr><td><div class="class-5"></div></td><td>38.3&deg;F</td></tr>
        <tr><td><div class="class-6"></div></td><td>45.4&deg;F</td></tr>
      </table>
    </div>
  </div>
  <div class="scroll__text">
    <div class="step">
      <h3>Land and water</h3>
      <p>Here, participants noted <strong>land and water conditions</strong> that impact travel in terms of erosion, sedimentation, and changes in water levels. Observer reports include seeing more debris in rivers from bank erosion and greater amounts of water level variability&mdash;each of which directly affect navigability of rivers and trails</p>
    </div>
    <div class="step" data-step="a">
      <h3>Permafrost: July Soil Temperature at 2 Meters Depth, 1970s</h3>
      <p>These maps show model output for July soil temperature at 2 meters depth as a proxy for permafrost changes. As you scroll to the 2010s, you can see the northern half of the region cross over the 32&deg;F freezing threshold. This is likely the threshold that observers are now experiencing through deteriorating trail conditions across Interior Alaska.</p>
    </div>
    <div class="step" data-step="b">
      <h3>Permafrost: Soil Temperature at 2 Meters Depth, July, 2010s</h3>
    </div>
  </div>
</div>
<%- include backToTop %>
