<section class="river-observations observations__scroll-container">
  <div class="scroll__graphic">
    <div class="observations__images">
      <img class="shown lazy" data-img="1" data-src="images/obs/riverbank-PF-thaw.jpg" />
      <img class="hidden lazy" data-img="2" data-src="images/obs/riverbank-slump.jpg" alt="" />
      <img class="hidden lazy" data-img="3" data-src="images/obs/riverbank-boats.jpg" alt="" />
      <figure class="hidden" data-img="4">
        <img src="images/SNAP_Chart_Nulato_Alaska_precipitation_rcp85_standard_cru32_10min.svg" alt="Chart showing generally increasing trends of modeled/projected rainfall through the 2090's at Nulato, Alaska" />
        <figcaption>
          Caption placeholder.
        </figcaption>
      </figure>
    </div>
  </div>
  <div class="scroll__text">
    <div class="step" data-step="1">
      <div class="observation" data-observation-id="100">
        <a name="erosion-observation-100"></a>
        <h4>Cliff Adams</h4>
        <h5>Beaver</h5>
        <h6>June 18</h6>

        <q>Huge chunks of land eroding along the Yukon River, large sections of shoreline falling in, even in areas that are not exposed to current (maybe just sunny). This changes the navigable of river channels, the rate of change has increased. Need to find new fishing spots. You have to watch out for trees falling on you and rolling waves. It has changed historic fishing area for the first time. In 2016 this change was way worse, with way warmer temperature. There is riverbank erosion in other areas, but this is one of the most severely affected areas. Trying new spots all the time now, regulations add another layer of challenges. </q>

        <p>This change affects fishing, and I observe it seasonally although it was way worse in 2016. This change has a strong effect on safety.</p>
      </div>
    </div>

    <div class="step" data-step="2">
      <div class="observation" data-observation-id="107">
        <a name="erosion-observation-107"></a>
        <h4>Eddie Wiehl</h4>
        <h5>Beaver</h5>
        <h6>August 16</h6>

        <q>Erosion and mudslide. It loads debris in water and changes boat travel.  </q>

        <p>I notice this change every few decades and I have seen it in a few other areas. It has a moderate effect on safety.</p>
      </div>
    </div>

    <div class="step" data-step="3">
      <div class="observation" data-observation-id="131">
        <div><a name="water-levels-observation-131"></a>
          <h4>Alvin Demientieff</h4>
          <h5>Holy Cross</h5>
          <h6>September 16</h6>

          <q>High water in mid September, 4 miles up the Innoko. It usually goes way down by this time.  It's harder to catch fish, and harder to see moose (but better access, although leaves grown back (from caterpillars) obstructing visibility).  </q>

          <p>This change affects hunting and fishing. I notice this change every few years. I've seen this change everywhere. It has a moderate effect on safety.</p>
        </div>
      </div>
    </div>

    <div class="step" data-step="4">
      <h4>Nulato Precipitation Projections</h4>
      <p>This plot shows historial (gray bars) and future projections (colored bars) of precipitation for Nulato, Alaska. Precipitation is projected to increase in every month by mid century, with mid summer and early fall months experiencing the highest increases. Some of these changes are already being felt and observed throughout interior Alaska, as the observers have noted.</p>
    </div>
  </div>
</section>
