<section class="narrative">
  <a name="river-narrative"></a>
  <h2>River travel and access</h2>
  <p>Rivers in Interior Alaska have always provided critical travel corridors for residents in this mostly-roadless region. For Interior Alaska residents, the Yukon, Tanana, Kuskokwim, and Chandalar rivers are equivalent to major highways around urban areas.</p>
  <p>Once river ice thaws, boats replace snowmachines. Although these rivers always undergo seasonal changes that influence their navigability, those changes have become more erratic. Observers reported rapid bank erosion and unseasonably high or low water. Increased erosion can make boat travel on rivers more dangerous due to the increased amounts of debris in the water, and river channels becoming shallower and wider. Debris can also quickly change otherwise well established river channels. Increased sediment deposition in rivers is increasing the size of sandbars across larger glacier-fed rivers and making some rivers shallower and harder to navigate.</p>
  <p>Changing water levels and shallower rivers impact fishing: locations that have been reliable in the past are no longer a sure bet and sometimes force people to find new spots to fish. Fishing nets or fish wheels snag on the river bottom or fill more quickly with debris, often sustaining damage in the process.</p>
  <p>Unseasonably high or low water in September&mdash;an important time for moose hunting&mdash;can help or hinder hunting. High water on main rivers covers riverbanks where moose might otherwise be found, but can also fill small tributaries that improve hunting access. Abnormally low water prevents access to lakes and sloughs near river channels.</p>
</section>
