<section class="narrative">
  <a name="river-narrative"></a>
  <h2>Observers explain EROSION, SEDIMENTATION, AND WATER LEVEL conditions that affect RIVER travel and access</h2>
  <p>Rivers in Interior Alaska have always provided critical travel corridors to residents. Once river ice thaws, snow machines are replaced with boats. For Interior Alaska residents, rivers like the Yukon, Tanana, Kuskokwim, and Chandalar are equivalent to major highways around urban areas. Although, these rivers always undergo seasonal changes that influence their navigability, those changes have become more erratic. Notable changes included unseasonably high or low water as well as rapid bank erosion. Increased erosion can make boat travel in rivers more dangerous due to increased amounts of debris in the water, and rivers becoming shallower and wider. Debris can also quickly change otherwise well established river channels. Sediment deposition in rivers is increasing the size of sandbars across the larger glacial fed rivers and making some rivers shallower and harder to navigate. </p>

  <p>Changing water levels combined with shallower rivers impact fishing in several ways. Fishing locations that have been reliable in the past are no longer a sure bet and sometimes force people to find new spots to fish. Fishing nets or fish wheels snag on the river bottom or fill more quickly with debris and are often badly damaged in the process. </p>

  <p>Unseasonably high or low water in September—an important time for moose hunting—can both help and hinder hunting. High water on main rivers covers riverbanks where moose might otherwise be found, but can also fills small tributaries that improve hunting access. Abnormally low water prevents access to lakes and sloughs adjacent to river channels.</p>
</section>
