<section class="river-observations observations__scroll-container">
  <div class="scroll__graphic">
    <div class="observations__images">
      <img class="shown lazy" data-img="1" data-src="images/obs/riverbank-PF-thaw.jpg" />
      <img class="hidden lazy" data-img="2" data-src="images/obs/riverbank-slump.jpg" alt="" />
      <img class="hidden lazy" data-img="3" data-src="images/obs/riverbank-boats.jpg" alt="" />
    </div>
  </div>
  <div class="scroll__text">
    <div class="step" data-step="1">
      <div class="observation" data-observation-id="100">
        <a name="erosion-observation-100"></a>
        <div class="observation__date">June 18, 2016</div>
        <div class="observation__author">Cliff Adams</div>
        <div class="observation__description">
          <p>Huge chunks of land eroding along the Yukon River, large sections of shoreline falling in, even in areas that are not exposed to current (maybe just sunny). This changes the navigable of river channels, the rate of change has increased. Need to find new fishing spots. You have to watch out for trees falling on you and rolling waves. It has changed historic fishing area for the first time. In 2016 this change was way worse, with way warmer temperature. There is riverbank erosion in other areas, but this is one of the most severely affected areas. Trying new spots all the time now, regulations add another layer of challenges. This change has a strong effect on safety.</p>
        </div>
      </div>
    </div>

    <div class="step" data-step="2">
      <div class="observation" data-observation-id="107">
        <a name="erosion-observation-107"></a>
        <div class="observation__date">August 16, 2016</div>
        <div class="observation__author">Eddie Wiehl</div>
        <div class="observation__description">
          <p>Erosion and mud slide. It loads debris in water and changes boat travel.  I notice this change every few decades and I have seen it in a few other areas. It has a moderate effect on safety.</p>
        </div>
      </div>
    </div>

    <div class="step" data-step="3">
      <div class="observation" data-observation-id="131">
        <a name="water-levels-observation-131"></a>
        <div class="observation__date">August 27, 2016</div>
        <div class="observation__author">Alvin Demientieff</div>
        <div class="observation__description">
          <p>High water in mid September, 4 miles up the Innoko. It usually goes way down by this time.  It's harder to catch fish, and harder to see moose (but better access, although leaves grown back (from caterpillars) obstructing visibility).  This change affects hunting and fishing. I notice this change every few years. I've seen this change everywhere. It has a moderate effect on safety.</p>
        </div>
      </div>
    </div>
  </div>
</section>
