<section class="snow-observations observations__scroll-container">
  <div class="scroll__graphic">
    <div class="observations__images">
      <img class="shown lazy" data-img="1" data-src="images/obs/thin-snow-cover.jpg" />
      <img class="hidden lazy" data-img="2" data-src="images/obs/frozen-trail.jpg" alt="" />
      <img class="hidden lazy" data-img="3" data-src="images/obs/frozen-meadow-atv.jpg" alt="" />
      <img class="hidden lazy" data-img="4" data-src="images/obs/early-fall-snow.jpg" alt="" />
    </div>
  </div>
  <div class="scroll__text">
    <div class="step" data-step="1">
      <div class="observation" data-observation-id="228">
        <a name="snow-conditions-observation-228"></a>
        <div class="observation__date">March 3, 2016</div>
        <div class="observation__author">Joe Turner</div>
        <div class="observation__description">
          <p>No snow, driving on a snowmachine from Kaltag to Unalakleet. Creeks running open with open water. Low snow and warm temps meant the snowmachine kept overheating, and I had to make many stops.  This change affects hunting and village travel.  I first started noticing this change in 2013.  I observe this change seasonally. It has a strong effect on safety.</p>
        </div>
      </div>
    </div>

    <div class="step" data-step="2">
      <div class="observation" data-observation-id="229">
        <a name="snow-conditions-observation-229"></a>
        <div class="observation__date">March 6, 2016</div>
        <div class="observation__author">Joe Turner</div>
        <div class="observation__description">
          <p>Traveling back from Unalakleet after the basketball tournament. A lot more water on rivers and creeks, makes snowmachine travel dangerous.  I first started noticing this change in 2013.  I observe this change seasonally.  It has a strong effect on safety.</p>
        </div>
      </div>
    </div>

    <div class="step" data-step="3">
      <div class="observation" data-observation-id="144">
        <a name="snow-conditions-observation-144"></a>
        <div class="observation__date">October 12, 2016</div>
        <div class="observation__author">Matt Snyder</div>
        <div class="observation__description">
          <p>ATV on frozen trails through swamp with no snow yet. These are good conditions for travel. Mud holes are frozen so ATV doesn't get stuck and no snow to plow through.  This change affects hunting and fishing. I first started noticing this change in 2006, and now I observe it yearly. It has no effect on safety.</p>
        </div>
      </div>
    </div>

    <div class="step" data-step="4">
      <div class="observation" data-observation-id="213">
        <a name="snow-conditions-observation-213"></a>
        <div class="observation__date">November 3, 2016</div>
        <div class="observation__author">Misty Walsh</div>
        <div class="observation__description">
          <p>The trapline trail with not enough snow to snow machine on. I had to use 4x4s to set the trapline - too little snow for snow-gos, areas were limited as 4x4s can't go some places (ATVs). This change affects trapping. I first started noticing this change in 2005 and now observe it seasonally. It has a strong effect on safety.</p>
        </div>
      </div>
    </div>
  </div>
</section>
