<section class="snow-observations observations__scroll-container scroll-container">
  <a name="snow-observations"></a>
  <div class="scroll__graphic">
    <div class="observations__images">
      <img class="shown lazy" data-img="1" data-src="images/obs/frozen-meadow-atv.jpg" alt="" />
      <img class="hidden lazy" data-img="2" data-src="images/obs/early-fall-snow.jpg" alt="" />
      <img class="hidden lazy" data-img="3" data-src="images/obs/low-snow-trail.jpg" />
      <img class="hidden lazy" data-img="4" data-src="images/obs/dog-sled-hauling-fuel.jpg" alt="" />
    </div>
  </div>
  <div class="scroll__text">

    <div class="step" data-step="1">
      <div class="observation" data-observation-id="144">
        <h4>Matt Snyder</h4>
        <h5>Tok</h5>
        <h6>October 12</h6>
        <q>ATV on frozen trails through swamp with no snow yet. These are good conditions for travel. Mud holes are frozen so ATV doesn't get stuck and no snow to plow through.</q>

        <p>This change affects hunting and fishing. I first started noticing this change in 2006, and now I observe it yearly. It has no effect on safety.</p>
      </div>
    </div>

   <div class="step" data-step="2">
      <div class="observation" data-observation-id="213">
        <h4>Misty Walsh</h4>
        <h5>Tok</h5>
        <h6>November 3</h6>
        <q>The trapline trail with not enough snow to snowmachine on. I had to use 4x4s to set the trapline - too little snow for snow-gos, areas were limited as 4x4s can't go some places (ATVs).</q>
        <p>This change affects trapping. I first started noticing this change in 2005 and now observe it seasonally. It has a strong effect on safety.</p>
      </div>
    </div>

    <div class="step" data-step="3">
      <div class="observation" data-observation-id="228">
        <h4>Joe Turner </h4>
        <h5>Nulato</h5>
        <h6>March 3</h6>
        <q>No snow, driving on a snowmachine from Kaltag to Unalakleet. Creeks running open with open water. Low snow and warm temps meant the snowmachine kept overheating, and I had to make many stops.</q>
        <p>This change affects hunting and village travel. I first started noticing this change in 2013. I observe this change seasonally. It has a strong effect on safety.</p>
      </div>
    </div>

    <div class="step" data-step="4">
      <div class="observation" data-observation-id="370">
        <h4>Miki Collins</h4>
        <h5>Lake Minchumina</h5>
        <h6>April 7</h6>
        <q>Dog team hauling gas during spring melt.  Gravel exposed on Holek Spit grinds on sled runners, a problem especially when hauling heavy loads.</q>
        <p>This change affects traveling and hauling supplies. This change happens seasonally, but is happening earlier now. It has a strong effect on safety.</p>
      </div>
    </div>

  </div>
</section>
