<div class="snowday-fraction-map__scroll-container">
  <div class="scroll__graphic">
    <div id="snowday-fraction-map__map"></div>
    <div class="snowday-fraction-map__legend">
      <table>
        <tr><td><div class="class-1"></div></td><td>29</td></tr>
        <tr><td><div class="class-2"></div></td><td>46.8</td></tr>
        <tr><td><div class="class-3"></div></td><td>64.5</td></tr>
        <tr><td><div class="class-4"></div></td><td>82.3</td></tr>
        <tr><td><div class="class-5"></div></td><td>100</td></tr>
      </table>
    </div>
  </div>
  <div class="scroll__text">
    <div class="step">
      <h3>Snow observations</h3>
      <p>These dots show where observers noted <strong>snow conditions</strong> that affect travel and access to resources. Observer reports include later snow, rain-on-snow events, no snow in midwinter, significant snow accumulation during a single weather event, and early snowmelt.</p>
    </div>
    <div class="step" data-step="a">
      <h3>snowday-fraction, 1970&rsquo;s</h3>
      <p>This needs a description!</p>
    </div>
    <div class="step" data-step="b">
      <h3>snowday-fraction, 2010&rsquo;s</h3>
      <p>This needs a description!</p>
    </div>
  </div>
</div>
