<section class="narrative">
  <a name="snow-narrative"></a>
  <h2>Observers explain snow conditions that affect travel and access</h2>
  <p>Observers describe that in the past temperatures would begin dropping in September, and by October snow would begin to fall, accumulate, and remain for the duration of winter. Consistent drops in temperature and dependable snow accumulation provide for optimal winter travel conditions by snowmachine and dogsled. </p>
  <p>Lately, later and more variable seasonal snow accumulation and precipitation in the form of rain during winter months make for unpredictable and more difficult winter travel. These rain-on-snow (e.g., icing) events are more common, and leave the snowpack crusty, thinner, and hard, deteriorating travel conditions and beating up snow machines and dog teams. Trails are much rougher, can be difficult to traverse, and are hard on sled suspensions and dog feet. It’s much easier to get stuck on brush and overheat snow machines that need a deep, soft snowpack to cool engines. With these changing conditions there is an increasing use of four-wheelers during what has been the winter travel season in the past.</p>

<aside class="citations">
  <div class="citation">
    <span class="citation__title">Assessment of Alaska Rain-on Snow Events Using Dynamical Downscaling</span>
    <span class="citation__contributors">Peter A. Bieniek, Uma S. Bhatt, John E. Walsh, Rick Lader, Brad Griffith, Jennifer K. Roach, Richard L. Thoman. 2018.</span>
    <span class="citation__summary">Explores the use of dynamical downscaling in recording historical and projected rain-on-snow events in Alaska from 1979 to 2100.</span>
  </div>
</aside>
</section>
