<section class="narrative">
  <a name="snow-narrative"></a><h2>SNOW Conditions explained by observers that affect travel and access</h2>
<p>Observers describe that in the past temperatures would begin cooling in September, and by October snow would begin to fall that would remain for the duration of winter.  Consistent cooling of temperatures and dependable snow accumulation provide for optimal winter travel conditions by snow machines and dogsleds.</p>
<p>Later and more variable seasonal snow accumulation make for unpredictable and more difficult winter travel conditions.  Occurrences of rain on snow events leaves the snowpack crusty and hard.  Low snow accumulation and crusty snow makes for poor travel conditions on snow machine and dog sleds. Winter trails are much rougher, can be difficult to maneuver on, and are hard on suspension and dog feet. It’s much easier to get stuck on brush and overheat snow machines that need a deep non-crusted snowpack to cool engines. With these changing conditions there is an increasing use of four wheelers during what has been the winter travel season in the past.</p>
</section>
