<section class="narrative">
  <a name="snow-narrative"></a>
  <h2>Snow conditions</h2>
  <p>Observers describe that in the past temperatures would begin dropping in September. By October, snow would begin to fall, accumulate, and remain for the duration of winter. Consistent drops in temperature and dependable snow accumulation provide for optimal winter travel conditions by snowmachine and dogsled.</p>
  <p>Recently, delayed and more variable seasonal snow accumulation, and precipitation in the form of rain during winter months, are making winter travel more difficult and unpredictable. Rain&ndash;on&ndash;snow (icing) events are becoming more common, and leave the snowpack crusty, thinner, and hard. Trails are much rougher, can be difficult to traverse, and are hard on sled suspensions and dog feet. It’s much easier to get stuck on brush and overheat snow-machines that need a deep, soft snowpack to cool engines. With these changing conditions there is an increasing use of four-wheelers during what had been the winter travel season in the past.</p>
  <aside class="citations">
    <input class="citations__display-toggle" id="display-toggle-3" type="checkbox" />
    <label class="citations__show-content" for="display-toggle-3">Show research on this topic</label>
    <label class="citations__hide-content" for="display-toggle-3">Hide</label>
    <div class="citations__display-wrapper">
      <div class="citation">
        <span class="citation__title"><a href="https://journals.ametsoc.org/doi/10.1175/JAMC-D-17-0276.1">Assessment of Alaska Rain&ndash;on&ndash;Snow Events Using Dynamical Downscaling</a></span>
        <span class="citation__contributors">Peter A. Bieniek, Uma S. Bhatt, John E. Walsh, Rick Lader, Brad Griffith, Jennifer K. Roach, Richard L. Thoman. 2018.</span>
        <span class="citation__summary">Explores the use of dynamical downscaling in recording historical and projected rain-on-snow events in Alaska from 1979 to 2100.</span>
      </div>
    </div>
  </aside>
</section>
