<div class="snowday-fraction-map__scroll-container">
  <div class="scroll__graphic">
    <div id="snowday-fraction-map__map"></div>
    <div class="snowday-fraction-map__legend">
      <table>
        <tr><td><div class="class-1"></div></td><td>29</td></tr>
        <tr><td><div class="class-2"></div></td><td>46.8</td></tr>
        <tr><td><div class="class-3"></div></td><td>64.5</td></tr>
        <tr><td><div class="class-4"></div></td><td>82.3</td></tr>
        <tr><td><div class="class-5"></div></td><td>100</td></tr>
      </table>
    </div>
  </div>
  <div class="scroll__text">
    <div class="step">
      <h3>Snow observations</h3>
      <p>Blue dots show where <strong>snow condition</strong> observations were recorded. Reports include later snow, rain-on-snow events, no snow in midwinter, significant snow accumulation during a single weather event, and early snowmelt.</p>
    </div>
    <div class="step" data-step="a">
      <h3>Snow Day Fraction, 1970s</h3>
      <p>This map shows the average of the proportion (fraction) of wet days in November that received snow during the 1970s. Darker colors indicate more precipitation falling as snow; lighter shades indicate less.</p>
      <p>As you slowly scroll to the next map, notice how the map becomes dominated by lighter shades.</p>
    </div>
    <div class="step" data-step="b">
      <h3>Snow Day Fraction, 2010s</h3>
      <p>The higher prevalence of lighter shades across Interior Alaska indicate that when precipitation is falling in November, less of it is falling as snow, and more of it as rain. This result is being directly observed by those living and traveling on the landscape.</p>
    </div>
  </div>
</div>
<%- include backToTop %>
