<section class="table-of-contents">
  <a name="table-of-contents"></a>
  <h2>Reports from the field: environmental conditions and their impacts on safety and travel in Interior Alaska</h2>

  <nav>
    <ol>
      <li>
        <a href="#introduction">Introduction</a>
      </li>
      <li>
        <a href="#ice-narrative">Ice conditions</a>
      </li>
      <li>
        <a href="#snow-narrative">Snow conditions</a>
      </li>
      <li>
        <a href="#river-narrative">River travel and access</a>
      </li>
      <li>
        <a href="#land-narrative">Land travel and access</a>
      </li>
      <li>
        <a href="#vegetation-narrative">Vegetation and fire</a>
      </li>
      <li>
        <a href="#conclusion">Conclusion</a>
      </li>
      <li>
        <a href="#acknowledgements">Acknowledgements</a>
      </li>
      <li>
        <a href="#references-and-data">References &amp; data</a>
      </li>
    </ol>
  </nav>
</section>
