<div class="title">
  <div class="title__text-block">
    <h1>Living off the Land: Environmental impacts to access in Interior Alaska</h1>
  </div>
</div>
<div class="title-logos">
  <%- include logos %>
</div>
<a name="top"></a>
