<section class="narrative">
  <a name="vegetation-narrative"></a>
  <h2>Observers explain VEGETATION COMPOSITION conditions that affect travel, access, and harvestable resources</h2>
  <p>Lakes have more vegetation in them or are drying up altogether, and replaced by thick shrubs. Thicker brush on trails makes it travel more difficult and requires increased trail maintenance. Brush in some cases has expanded onto airstrips, making some no longer usable. More vegetation is forming in lakes, clogging or tangling boat motors. In some cases lakes are drying up altogether, changing both the travel methods that are possible for people in those areas as well as distribution of fish, birds, or wildlife harvested in those areas.</p>
  <p>Fire changes the landscape rapidly. Forest fires are a part of the natural cycle of the boreal forest and can improve moose and berry harvest opportunities. However, increasing fire frequency and intensity may hinder travel. After a fire, trails can be significantly obstructed and be difficult to find. Accessing a trail for the first time after a fire requires significant clearing of slash, often with a chainsaw. Even after the initial clearing of a trail, trees will continue to fall for years after a forest fire, requiring continual maintenance of a trail.</p>
</section>
