<section class="vegetation-observations observations__scroll-container">
  <div class="scroll__graphic">
    <div class="observations__images">
      <img class="shown lazy" data-img="1" data-src="images/obs/fire-road.jpg" />
      <img class="hidden lazy" data-img="2" data-src="images/obs/unknown.jpg" alt="" />
      <img class="hidden lazy" data-img="3" data-src="images/obs/meadow.jpg" alt="" />
      <img class="hidden lazy" data-img="4" data-src="images/obs/pond-boat.jpg" alt="" />
    </div>
  </div>
  <div class="scroll__text">
    <div class="step" data-step="1">
      <div class="observation" data-observation-id="239">
        <a name="vegetative-community-composition-observation-239"></a>
        <div class="observation__date">June 22, 2015</div>
        <div class="observation__author">Joe Turner</div>
        <div class="observation__description">
          <p>Fire in Nulato during hot, dry summer. Very poor air quality. It shut down all travel during fire.  I couldn't go on ATV trails because of fallen trees (lots of trees fell).  This change affects village travel.  I see this happen every few years. It has a moderate effect on safety.</p>
        </div>
      </div>
    </div>

    <div class="step" data-step="2">
      <div class="observation" data-observation-id="368">
        <a name="vegetative-community-composition-observation-368"></a>
        <div class="observation__date">April 5, 2016</div>
        <div class="observation__author">Miki Collins</div>
        <div class="observation__description">
          <p>Trapping trail through burned forest. The 2015 Carlson Lake Burn had a few places where deadfall seriously impeded travel the first time through, requiring prodigious use of chain saw. This delayed getting the trail opened up during a critical time. It also required a halfway tent camp to be used; normally we don’t have to camp out for this run. This change affects trapping and occurs every few years. This change has a strong effect on safety.</p>
        </div>
      </div>
    </div>

    <div class="step" data-step="3">
      <div class="observation" data-observation-id="98">
        <a name="water-levels-observation-98"></a>
        <div class="observation__date">June 5, 2016</div>
        <div class="observation__author">Cliff Adams</div>
        <div class="observation__description">
          <p>Many hunting areas turned into meadows. This lake is drying on north side of river (sunny side). Need to find new hunting and trapping areas (requires traveling further, 10 miles in past, 40 miles today). Areas are "shrubbing over". This condition does provide for easier winter trail (no ice or water). I first started noticing this in 1987. This change has increased over time and I've seen it in other areas. This change has a weak effect on safety, and even has increased safety.</p>
        </div>
      </div>
    </div>

    <div class="step" data-step="4">
      <div class="observation" data-observation-id="50">
        <a name="vegetative-community-composition-observation-50"></a>
        <div class="observation__date">June 23, 2016</div>
        <div class="observation__author">Matt Snyder</div>
        <div class="observation__description">
          <p>Extreme amount of lake grass. It's harder to get around with outboards and I have switched to a go devil style outboard. I first started noticing this change in 2006.  It has become more extreme in the last 10 years, and I've seen this change in a few other areas. It has a moderate effect on safety.</p>
        </div>
      </div>
    </div>
  </div>
</section>
