<section class="vegetation-observations observations__scroll-container scroll-container">
  <a name="vegetation-observations"></a>
  <div class="scroll__graphic sticky">
    <div class="observations__images">
      <img class="shown lazy" data-img="3" data-src="images/obs/meadow.jpg" alt="" />
      <img class="hidden lazy" data-img="4" data-src="images/obs/pond-boat.jpg" alt=""/>
      <img class="hidden lazy" data-img="1" data-src="images/obs/fire-road.jpg" />
      <img class="hidden lazy" data-img="2" data-src="images/obs/burned-trapping-trail.jpg" alt="" />
      <img class="hidden lazy" data-img="5" data-src="images/fire-chart.svg" alt="">
    </div>
  </div>
  <div class="scroll__text">

    <div class="step" data-step="3">
      <div class="observation" data-observation-id="98">
        <h4>Cliff Adams</h4>
        <h5>Beaver</h5>
        <h6>June 5</h6>
        <q>Many hunting areas turned into meadows. This lake is drying on the north side of river (sunnyside). We need to find new hunting and trapping areas (requires traveling further, 10 miles in the past, 40 miles today). Areas are &lsquo;shrubbing over&rsquo;. This condition does provide for easier winter trail access  (no ice or water).</q>

        <p>I first started noticing this in 1987.  This change has increased over time and I've seen it in other areas. This change has a weak effect on safety, and even has increased safety.</p>
      </div>
    </div>


    <div class="step" data-step="4">
      <div class="observation" data-observation-id="50">
        <h4>Matt Snyder</h4>
        <h5>Tok</h5>
        <h6>June 23</h6>
        <q>Extreme amount of lake grass. It's harder to get around with outboards and I have switched to a go devil style outboard.</q>
        <p>I first started noticing this change in 2006. It has become more extreme in the last 10 years, and I've seen this change in a few other areas. It has a moderate effect on safety.</p>
      </div>
    </div>

    <div class="step" data-step="1">
      <div class="observation" data-observation-id="239">
        <h4>Joe Turner</h4>
        <h5>Nulato</h5>
        <h6>June 22</h6>
        <q>Fire in Nulato during hot, dry summer. Very poor air quality.  It shut down all travel during fire.  I couldn't go on ATV trails because of fallen trees (lots of trees fell).</q>
        <p>This change affects village travel.   I see this happen every few years. It has a moderate effect on safety.</p>
      </div>
    </div>

    <div class="step" data-step="2">
      <div class="observation" data-observation-id="368">
        <h4>Miki Collins</h4>
        <h5>Lake Minchumina</h5>
        <h6>April 5 </h6>
        <q>Trapping trail through burned forest. The 2015 Carlson Lake Burn had a few places where deadfall seriously impeded travel the first time through, requiring prodigious use of chain saw. This delayed getting the trail opened up during a critical time. It also required a halfway tent camp to be used; normally we don’t have to camp out for this run.</q>
        <p>This change affects trapping and occurs every few years. This change has a strong effect on safety.</p>
      </div>
    </div>

    <div class="step" data-step="5">
      <div class="observation" data-observation-id="368">
        <p>This plot shows historical and projected total area burned across Alaska. The decades of the 1990s and 2000s have had several high fire years, and a &ldquo;new normal&rdquo; of high fire occurrence and total area burned is beginning to emerge when looking at expected projections in the future.</p>
        <aside class="citations">
          <input class="citations__display-toggle" id="map-data-toggle-fire" type="checkbox" />
          <label class="citations__show-content" for="map-data-toggle-fire">Data Sources</label>
          <label class="citations__hide-content" for="map-data-toggle-fire">Hide</label>
          <div class="citations__display-wrapper">
            <div class="citation">
              <span class="citation__title"><a href="http://ckan.snap.uaf.edu/dataset/alfresco-model-outputs-linear-coupled-annual">ALFRESCO Model outputs - linear coupled - Annual</a></span>
            </div>
          </div>
        </aside>
      </div>
    </div>

  </div>
</section>
