<section class="narrative">
  <a name="vegetation-narrative"></a>
  <h2>Vegetation and fire</h2>
  <p>Lakes now contain more vegetation, or are drying up and being replaced by thick shrubs. Thicker brush on trails makes travel more difficult and requires more trail maintenance. Some airstrips are no longer usable because of brush expansion. Excess lake vegetation clogs boat motors or becomes entangled in propellers. In some cases lakes are drying up altogether. This is changing both the travel methods that are possible for people in those areas as well as the distribution of fish, birds, or wildlife harvested in those areas.</p>
  <p>Fire rapidly changes the landscape. Forest fires are a part of the natural cycle of the boreal forest and can improve moose and berry harvest opportunities. However, increasing fire frequency and intensity can hinder travel. After a fire, trails can be very obstructed and difficult to find. Accessing a trail for the first time after a fire requires a lot of work to clear slash, often with a chainsaw. Even after the initial clearing of a trail, trees will continue to fall for years after a forest fire and require continual trail maintenance.</p>

  <aside class="citations">
    <input class="citations__display-toggle" id="display-toggle-4" type="checkbox" />
    <label class="citations__show-content" for="display-toggle-4">Show research on this topic</label>
    <label class="citations__hide-content" for="display-toggle-4">Hide</label>
    <div class="citations__display-wrapper">
      <div class="citation">
        <span class="citation__title"><a href="https://pdfs.semanticscholar.org/031b/cb180a74ec880e0acd01dbd4dd7b6552c046.pdf">Landscape Influence on Climate-Related Lake Shrinkage at High Latitudes</a></span>
        <span class="citation__contributors">Jennifer K. Roach, Brad Griffith, and David Verbyla. 2013.</span>
        <span class="citation__summary">Characterizes mechanisms of lake area decline in Alaska. Lakes located in 1) burned areas, 2) with corser, well drained soil, 3) and further away from rivers were more likely to decline.  Increased fire frequency and intensity are a result of a warming climate.</span>
      </div>
      <div class="citation">
        <span class="citation__title"><a href="https://agupubs.onlinelibrary.wiley.com/doi/full/10.1029/2011JG001795">Twentieth Century Erosion in Arctic Alaska FootHills: The influence of shrubs, runoff, and permafrost</a></span>
        <span class="citation__contributors">Ken D. Tape, David Verbyla, Jeffrey M. Welker. 2011.</span>
        <span class="citation__summary">Explores relationships between increased vegetation productivity, permafrost temperatures, and erosion from longer, warmer summers.</span>
      </div>
    </div>
  </aside>
</section>
