<section class="ice-and-snow__scroll-container">
  <a name="ice-map"></a>
  <div class="scroll__graphic">
    <div id="ice-and-snow__map"></div>
    <div class="ice-and-snow__legend hidden">
      <table>
        <tr><td><div class="cooler"></div></td><td>-22.4&deg;F</td></tr>
        <tr><td><div class="cool"></div></td><td>-12.6&deg;F</td></tr>
        <tr><td><div class="neutral"></div></td><td>-2.9&deg;F</td></tr>
        <tr><td><div class="warm"></div></td><td>6.6&deg;F</td></tr>
        <tr><td><div class="warmer"></div></td><td>16.3&deg;F</td></tr>
      </table>
    </div>
  </div>
  <div class="scroll__text">
    <div class="step" data-step="a">
      <h3>Ice observations</h3>
      <p>Blue dots show where <strong>ice condition</strong> observations were recorded. Observers reported open holes on rivers during winter, thin ice, late freeze-up, early-thaw, overflow, and shelf ice.</p>
    </div>
    <div class="step" data-step="b">
      <h3>Winter Temperatures, 1970s</h3>
      <p>Other data support observations of changing ice conditions. This map shows average winter (Dec, Jan, Feb) air temperatures from 1970&ndash;1979. Shades of blue indicate temperatures below 0&deg;F. Red shades indicate temperatures above 0&deg;F.</p>
      <p>As you slowly scroll to the next map, notice how the red areas expand across interior Alaska.</p>
    </div>
    <div class="step" data-step="c">
      <h3>Winter Temperatures, 2010s</h3>
      <p>This map shows winter temperatures in the 2010s. While average winter temperatures are still below freezing (32&deg;F), consistently long periods of very cold (below 0&deg;F) conditions are decreasing, resulting in significant changes to the onset, quality, and duration of ice.</p>
    </div>
  </div>
</div>
<%- include backToTop %>
