<div class="ice-and-snow__scroll-container">
  <div class="scroll__graphic">
    <div id="ice-and-snow__map"></div>
    <div class="ice-and-snow__legend">
      <table>
        <tr><td><div class="cooler"></div></td><td>-22.4&deg;F</td></tr>
        <tr><td><div class="cool"></div></td><td>-12.6&deg;F</td></tr>
        <tr><td><div class="neutral"></div></td><td>-2.9&deg;F</td></tr>
        <tr><td><div class="warm"></div></td><td>6.6&deg;F</td></tr>
        <tr><td><div class="warmer"></div></td><td>16.3&deg;F</td></tr>
      </table>
    </div>
  </div>
  <div class="scroll__text">
    <div class="step" data-step="a">
      <h3>Ice observations</h3>
      <p>Dots show where <strong>ice conditions</strong> affecting travel and access to harvest resources were recorded by observers for this study. Observer reports include open holes on rivers during winter, thin ice, late freeze-up, early-thaw, overflow, and shelf-ice.</p>
    </div>
    <div class="step" data-step="b">
      <h3>Winter temperatures, 1970&rsquo;s</h3>
      <p>This map shows the average winter temperature throughout the 1970&rsquo;s &mdash; December, January, and February.</p>
    </div>
    <div class="step" data-step="c">
      <h3>Winter temperatures, 2010&rsquo;s</h3>
      <p>This map shows the average winter temperature throughout the 2010s&rsquo; &mdash; December, January, and February.</p>
    </div>
  </div>
</div>
